
<div id="page__wrap" class="page__wrap">

    {% if suppress_page_header | default('') is empty %}
        {% include 'default-page-header.html.twig' %}
    {% endif %}

    <!--n10n--> <!-- <=== This will get replaced by system notifications! -->

    <div id="page__main" class="page__main">
        {{ page_payload | raw }}
    </div>

    <div class="footer__room-preserve"></div>
</div><!-- /#page__wrap -->

{% if suppress_page_footer | default('') is empty %}
    {% include 'default-page-footer.html.twig' %}
{% endif %}
