
{% import "macros.html.twig" as macros %}

<a {{ macros.form_widget_attributes(attributes) }}>
    {% if icon_href is defined %}
        <svg class="svg-icon button__icon">
            <use xlink:href="{{ icon_href }}"></use>
        </svg>
    {% endif %}
    <span class="button__text">
        {{ value }}
    </span>
</a>