
{% import "macros.html.twig" as macros %}

<select {{ macros.form_widget_attributes(attributes) }}>
    {% for option in options %}
        <option>{{ option.value }}</option>
    {% endfor %}
</select>
