
<div class="note-block {{ wrapper_extra_classes | default('') }}">

    <svg class="svg-icon" aria-hidden="true">
        <use xlink:href="#icon-sprite__info-i"/>
    </svg>

    <div class="fit-content">
        {{ note | raw }}
    </div>

</div>
