
<div class="common-text-block common-text-block--has-icon note-block {{ wrapper_extra_classes | default('') }}">

    <svg class="common-text-block__icon">
        <use xlink:href="#info-i"/>
    </svg>

    <div class="common-text-block__text fit-content">
        {{ note | raw }}
    </div>

</div>
