<div class="hero-mosaic {{ wrapper_extra_classes }}">

  {% if major %}
    <div class="hero-mosaic__major">
      {{ major }}
    </div>
  {% endif %}

  {% if minor %}
    <div class="hero-mosaic__minor">
      <div class="row">
        {% for item in minor %}
          <div class="hero-mosaic__minor__item column wide-6">
            {{ item }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

</div>
