<div class="component--sample-dummy-1 has-top has-bottom">
  <div class="slot slot--top">
    <div class="box">
      {{ top }}
    </div>
  </div>
  <div class="slot slot--bottom">
    <div class="box">
      {{ bottom }}
    </div>
  </div>
</div>

