
# IDEs:
nbproject
.idea

# LIBRARIES AND PACKAGES:
**/libraries-backend/*
!**/libraries-backend/.htaccess
**/node_modules/

# GENERATED CONTENT:
styleguide/*
!styleguide/.htaccess

# THEMES BEING WORKED ON:
# (Other than "theme-seed", which is made a submodule of this repo.)
themes/additional-theme

