
# LIBRARIES AND PACKAGES:
**/libraries-backend/*
!**/libraries-backend/.htaccess
**/node_modules/

# THEMES, other than the default one:
public/themes/*
!public/themes/frontend-seed

# PAYLOAD FILES:
public/files-payload/*
!public/files-payload/demo/

# GENERATED STATIC SITE INSTANCES:
public/generated/*
!public/generated/.gitkeep

