<div class="row layout--2sb {{ wrapper_extra_classes }}">

  {% if main_content %}
    <div class="column column--main">
      {{ main_content }}
    </div>
  {% endif %}

  {% if sidebar_1 %}
    <div class="column column--sidebar column--sb--1">
      {{ sidebar_1 }}
    </div>
  {% endif %}

  {% if sidebar_2 %}
    <div class="column column--sidebar column--sb--2">
      {{ sidebar_2 }}
    </div>
  {% endif %}

</div>

