<div class="{{ wrapper_extra_classes | default('') }}">

    {% for item in items %}
        <div class="cheap-grid__item {{ items_extra_classes | default('') }} {{ item.extra_classes | default('') }}">
            {{ item.item_content | raw }}
        </div>
    {% endfor %}

</div>
