
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
html {
  border-right: 10px solid teal;
}

.x-app-page {
  padding: 1em;
}

.x-app-item {
  padding: 3em 0;
}
.x-app-item + .x-app-item {
  border-top: 1px solid lightgray;
}
.x-app-item > div {
  margin-bottom: 0.75rem;
}
.x-app-item > div:last-child {
  margin-bottom: 0;
}
.x-app-item__title {
  font-size: 1.5rem;
}
.x-app-item__description {
  color: slategray;
  font-style: italic;
  font-size: 0.9rem;
}
.x-app-item__code {

}
.x-app-item__content {
  border: 1px solid lightgray;
  padding: 2rem;
}

