<ul class="ul--icon-prefix {{ wrapper_extra_classes | default('') }}">

    {% for item in items %}
        <li>
            <svg class="svg-icon ul--icon-prefix__icon" aria-hidden="true">
                <use xlink:href="#{{ icon_id | default('icon-sprite__arrow-right') }}"/>
            </svg>
            {{ item | raw }}
        </li>
    {% endfor %}

</ul>
