
{% set wrapper_attributes = extendAttrs(wrapper_attributes | default, 'class', 'ul--icon-prefix') %}

<ul {{ attr(wrapper_attributes) }}>

    {% for item in items %}
        <li>
            <svg class="svg-icon ul--icon-prefix__icon" aria-hidden="true">
                <use xlink:href="#{{ icon_id | default('icon-sprite__arrow-right') }}"></use>
            </svg>
            {{ item | raw }}
        </li>
    {% endfor %}

</ul>
