
{# Just testing the attribute handling features. #}
{% set wrapper_attributes = extendAttrs('data-foo', NULL, wrapper_attributes | default) %}
{% set wrapper_attributes = extendAttrs('data-foo-array', ['foo', 'bar'], wrapper_attributes) %}
{% set wrapper_attributes = extendAttrs('data-bar-array', ['foo', 'bar'], wrapper_attributes) %}
{# End testing. #}

<ul {{ attr(addClass('ul--icon-prefix', wrapper_attributes | default)) }}>

    {% for item in items %}
        <li>
            <svg class="svg-icon ul--icon-prefix__icon" aria-hidden="true">
                <use xlink:href="#{{ icon_id | default('icon-sprite__arrow-right') }}"></use>
            </svg>
            {{ item | raw }}
        </li>
    {% endfor %}

</ul>
