
<header class="page__header color-zone--accent-2">
    {% if document_properties.site_name is defined %}
        <div class="page-header__site-name">
            {{ document_properties.site_name }}
        </div>
    {% endif %}

    <div class="page-header__site-tagline">
        But this one is an alternative page header!
    </div>
</header>
