
{% if site_name %}
  <div class="header__site-name">
    <a href="#">
      {{ site_name }}
    </a>
  </div>
{% endif %}

{% if site_slogan %}
  <div class="header__site-slogan">
    {{ site_slogan }}
  </div>
{% endif %}

{% if header_widgets %}
  <div class="header__widgets">
    {{ header_widgets }}
  </div>
{% endif %}

