<div id="page__wrap" class="page__wrap">

  <header id="page__header" class="page__level page__header">
    <div class="page__level__content">
      {{ page_header }}
    </div>
  </header>

  <div id="page__main" class="page__main">
    {{ page_main }}
  </div>

  <div class="footer__room-preserve"></div>
</div><!-- /#page__wrap -->

<footer id="page__footer" class="page__level page__footer">
  <div class="page__level__content">
    {{ page_footer }}
  </div>
</footer>

{{ app_menu }}

